@model HongPet.SharedViewModels.ViewModels.ProductDetailVM

<div class="product-variants mb-4">
    <h3 class="variant-title">Variants:</h3>
    <div class="variant-options">
        @foreach (var variant in Model.Variants)
        {
            <button class="variant-btn
                        @(variant.Id == Model.Variants.First().Id
                        ? "active" : "")"
                    data-variant-id="@variant.Id"
                    data-variant-price="@variant.Price"
                    data-variant-stock="@variant.Stock">
                @foreach (var attribute in variant.AttributeValues)
                {
                    <span class="attribute-value">
                        @(attribute.Attribute) : @(attribute.Value)
                    </span>
                }
            </button>
        }
    </div>
</div>

<div class="product-actions">
    <form method="post" class="add-to-cart-form"
          asp-controller="Cart" asp-action="AddToCart">
        @Html.AntiForgeryToken()
        <input type="hidden" name="variantId" id="variantId"
               value="@Model.Variants.First().Id" />
        <input type="hidden" name="productId" value="@Model.Id" />
        <input type="hidden" name="productName" value="@Model.Name" />
        <input type="hidden" name="variantName" id="variantName"
               value="@string.Join(",",
                     Model.Variants.First().AttributeValues
                     .Select(x => $"{x.Attribute}: {x.Value}"))" />
        <input type="hidden" name="thumbnailImageUrl" value="@Model.ThumbnailUrl" />
        <input type="hidden" name="price" id="variantPrice" 
               value="@Model.Variants.First().Price" />

        <div class="quantity-selector">
            <button class="quantity-btn minus"
                    onclick="updateQuantity(-1)"
                    type="button">
                <i class="bi bi-dash"></i>
            </button>
            <input name="quantity" type="number"
                   class="quantity-input" id="quantity-input"
                   value="1" min="1" max="99">
            <button class="quantity-btn plus"
                    onclick="updateQuantity(1)"
                    type="button">
                <i class="bi bi-plus"></i>
            </button>
        </div>
        <button id="add-to-cart-btn"
                class="btn btn-add-to-cart"
                type="submit">
            <i class="bi bi-cart-plus"></i> Add to Cart
        </button>
    </form> 
</div>